@font-face {
    font-family: 'Kosugi Maru';
    src: url('@/assets/font/Kosugi_Maru/KosugiMaru-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-ExtraLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-Light.otf') format('opentype');
    font-weight: Light;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('@/assets/font/Noto_Serif_JP/NotoSerifJP-SemiBold.otf') format('opentype');
    font-weight: 600;
}